In [1]:
#19.4.2 Real Data, Real Practice Imports and Setup
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

# Import our input dataset
attrition_df = pd.read_csv('./Resources/HR-Employee-Attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [2]:
# Generate our categorical variable list
attrition_cat = attrition_df.dtypes[attrition_df.dtypes == "object"].index.tolist()

In [3]:
# 19.4.3 Real Data, Real Practice Preprocessing
# Check the number of unique values in each column
attrition_df[attrition_cat].nunique()

Attrition         2
BusinessTravel    3
Department        3
EducationField    6
Gender            2
JobRole           9
MaritalStatus     3
Over18            1
OverTime          2
dtype: int64

In [4]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(attrition_df[attrition_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(attrition_cat)
encode_df.head()

,Attrition_No,Attrition_Yes,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [5]:
# Merge one-hot encoded features and drop the originals
attrition_df = attrition_df.merge(encode_df,left_index=True, right_index=True)
attrition_df = attrition_df.drop(attrition_cat,1)
attrition_df.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,1,2,3,61,2,2,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,1,4,4,92,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,1,5,4,56,3,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,7,1,40,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [6]:
# Split our preprocessed data into our features and target arrays
y = attrition_df["Attrition_Yes"].values
X = attrition_df.drop(["Attrition_Yes","Attrition_No"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [7]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [8]:
#19.4.4 Real Data, Real Practice Deep Learning Model Design
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 8)                 448
_________________________________________________________________
dense_1 (Dense)              (None, 5)                 45
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 6
=================================================================
Total params: 499
Trainable params: 499
Non-trainable params: 0
_________________________________________________________________

In [9]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [10]:
# 19.4.5 Real Data, Real Practice Train and Evaluate the Model
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=100)

Epoch 1/100
35/35 [==============================] - 0s 641us/step - loss: 2345.7397 - accuracy: 0.1702
Epoch 2/100
35/35 [==============================] - 0s 733us/step - loss: 680.4058 - accuracy: 0.2065
Epoch 3/100
35/35 [==============================] - 0s 602us/step - loss: 6.8830 - accuracy: 0.6057
Epoch 4/100
35/35 [==============================] - 0s 790us/step - loss: 1.1747 - accuracy: 0.7222
Epoch 5/100
35/35 [==============================] - 0s 557us/step - loss: 0.8425 - accuracy: 0.7853
Epoch 6/100
35/35 [==============================] - 0s 794us/step - loss: 0.7509 - accuracy: 0.7726
Epoch 7/100
35/35 [==============================] - 0s 587us/step - loss: 0.6961 - accuracy: 0.8148
Epoch 8/100
35/35 [==============================] - 0s 822us/step - loss: 0.6614 - accuracy: 0.8263
Epoch 9/100
35/35 [==============================] - 0s 733us/step - loss: 0.6416 - accuracy: 0.8310
Epoch 10/100
35/35 [==============================] - 0s 910us/step - loss: 0.6488 - accuracy: 0.8077
Epoch 11/100
35/35 [==============================] - 0s 779us/step - loss: 0.6281 - accuracy: 0.8224
Epoch 12/100
35/35 [==============================] - 0s 733us/step - loss: 0.6173 - accuracy: 0.8368
Epoch 13/100
35/35 [==============================] - 0s 792us/step - loss: 0.6153 - accuracy: 0.8222
Epoch 14/100
35/35 [==============================] - 0s 733us/step - loss: 0.6044 - accuracy: 0.8313
Epoch 15/100
35/35 [==============================] - 0s 701us/step - loss: 0.5995 - accuracy: 0.8214
Epoch 16/100
35/35 [==============================] - 0s 763us/step - loss: 0.5956 - accuracy: 0.8219
Epoch 17/100
35/35 [==============================] - 0s 793us/step - loss: 0.5893 - accuracy: 0.8334
Epoch 18/100
35/35 [==============================] - 0s 766us/step - loss: 0.5855 - accuracy: 0.8273
Epoch 19/100
35/35 [==============================] - 0s 822us/step - loss: 0.5839 - accuracy: 0.8254
Epoch 20/100
35/35 [==============================] - 0s 704us/step - loss: 0.5698 - accuracy: 0.8285
Epoch 21/100
35/35 [==============================] - 0s 763us/step - loss: 0.5638 - accuracy: 0.8334
Epoch 22/100
35/35 [==============================] - 0s 698us/step - loss: 0.5594 - accuracy: 0.8234
Epoch 23/100
35/35 [==============================] - 0s 704us/step - loss: 0.5327 - accuracy: 0.8597
Epoch 24/100
35/35 [==============================] - 0s 820us/step - loss: 0.5465 - accuracy: 0.8234
Epoch 25/100
35/35 [==============================] - 0s 958us/step - loss: 0.5506 - accuracy: 0.8141
Epoch 26/100
35/35 [==============================] - 0s 789us/step - loss: 0.5070 - accuracy: 0.8444
Epoch 27/100
35/35 [==============================] - 0s 646us/step - loss: 0.5378 - accuracy: 0.8165
Epoch 28/100
35/35 [==============================] - 0s 734us/step - loss: 0.5321 - accuracy: 0.8287
Epoch 29/100
35/35 [==============================] - 0s 699us/step - loss: 0.5256 - accuracy: 0.8449
Epoch 30/100
35/35 [==============================] - 0s 704us/step - loss: 0.5482 - accuracy: 0.8163
Epoch 31/100
35/35 [==============================] - 0s 733us/step - loss: 0.5164 - accuracy: 0.8355
Epoch 32/100
35/35 [==============================] - 0s 800us/step - loss: 0.5086 - accuracy: 0.8354
Epoch 33/100
35/35 [==============================] - 0s 763us/step - loss: 0.5268 - accuracy: 0.8270
Epoch 34/100
35/35 [==============================] - 0s 1ms/step - loss: 0.5230 - accuracy: 0.8120
Epoch 35/100
35/35 [==============================] - 0s 895us/step - loss: 0.5036 - accuracy: 0.8302
Epoch 36/100
35/35 [==============================] - 0s 793us/step - loss: 0.5136 - accuracy: 0.8306
Epoch 37/100
35/35 [==============================] - 0s 632us/step - loss: 0.5458 - accuracy: 0.8142
Epoch 38/100
35/35 [==============================] - 0s 645us/step - loss: 0.5185 - accuracy: 0.8175
Epoch 39/100
35/35 [==============================] - 0s 733us/step - loss: 0.5023 - accuracy: 0.8225
Epoch 40/100
35/35 [==============================] - 0s 675us/step - loss: 0.4987 - accuracy: 0.8271
Epoch 41/100
35/35 [==============================] - 0s 675us/step - loss: 0.5019 - accuracy: 0.8307
Epoch 42/100
35/35 [==============================] - 0s 708us/step - loss: 0.5115 - accuracy: 0.8137
Epoch 43/100
35/35 [==============================] - 0s 704us/step - loss: 0.4955 - accuracy: 0.8308
Epoch 44/100
35/35 [==============================] - 0s 557us/step - loss: 0.4848 - accuracy: 0.8329
Epoch 45/100
35/35 [==============================] - 0s 617us/step - loss: 0.4991 - accuracy: 0.8317
Epoch 46/100
35/35 [==============================] - 0s 736us/step - loss: 0.4929 - accuracy: 0.8305
Epoch 47/100
35/35 [==============================] - 0s 880us/step - loss: 0.4778 - accuracy: 0.8438
Epoch 48/100
35/35 [==============================] - 0s 939us/step - loss: 0.4960 - accuracy: 0.8249
Epoch 49/100
35/35 [==============================] - 0s 936us/step - loss: 0.5029 - accuracy: 0.8191
Epoch 50/100
35/35 [==============================] - 0s 997us/step - loss: 0.4764 - accuracy: 0.8381
Epoch 51/100
35/35 [==============================] - 0s 963us/step - loss: 0.4508 - accuracy: 0.8563
Epoch 52/100
35/35 [==============================] - 0s 790us/step - loss: 0.4945 - accuracy: 0.8242
Epoch 53/100
35/35 [==============================] - 0s 850us/step - loss: 0.5051 - accuracy: 0.8213
Epoch 54/100
35/35 [==============================] - 0s 793us/step - loss: 0.5209 - accuracy: 0.8155
Epoch 55/100
35/35 [==============================] - 0s 762us/step - loss: 0.4840 - accuracy: 0.8316
Epoch 56/100
35/35 [==============================] - 0s 675us/step - loss: 0.4878 - accuracy: 0.8252
Epoch 57/100
35/35 [==============================] - 0s 643us/step - loss: 0.4805 - accuracy: 0.8373
Epoch 58/100
35/35 [==============================] - 0s 587us/step - loss: 0.4751 - accuracy: 0.8346
Epoch 59/100
35/35 [==============================] - 0s 632us/step - loss: 0.4579 - accuracy: 0.8440
Epoch 60/100
35/35 [==============================] - 0s 951us/step - loss: 0.4602 - accuracy: 0.8446
Epoch 61/100
35/35 [==============================] - 0s 880us/step - loss: 0.4991 - accuracy: 0.8162
Epoch 62/100
35/35 [==============================] - 0s 853us/step - loss: 0.4620 - accuracy: 0.8419
Epoch 63/100
35/35 [==============================] - 0s 821us/step - loss: 0.4795 - accuracy: 0.8336
Epoch 64/100
35/35 [==============================] - 0s 588us/step - loss: 0.4738 - accuracy: 0.8362
Epoch 65/100
35/35 [==============================] - 0s 675us/step - loss: 0.4607 - accuracy: 0.8410
Epoch 66/100
35/35 [==============================] - 0s 645us/step - loss: 0.4669 - accuracy: 0.8387
Epoch 67/100
35/35 [==============================] - 0s 584us/step - loss: 0.4854 - accuracy: 0.8248
Epoch 68/100
35/35 [==============================] - 0s 499us/step - loss: 0.4776 - accuracy: 0.8284
Epoch 69/100
35/35 [==============================] - 0s 909us/step - loss: 0.4631 - accuracy: 0.8340
Epoch 70/100
35/35 [==============================] - 0s 557us/step - loss: 0.4575 - accuracy: 0.8366
Epoch 71/100
35/35 [==============================] - 0s 660us/step - loss: 0.5226 - accuracy: 0.7940
Epoch 72/100
35/35 [==============================] - 0s 587us/step - loss: 0.4811 - accuracy: 0.8240
Epoch 73/100
35/35 [==============================] - 0s 955us/step - loss: 0.4821 - accuracy: 0.8197
Epoch 74/100
35/35 [==============================] - 0s 864us/step - loss: 0.4741 - accuracy: 0.8274
Epoch 75/100
35/35 [==============================] - 0s 722us/step - loss: 0.4746 - accuracy: 0.8247
Epoch 76/100
35/35 [==============================] - 0s 792us/step - loss: 0.4623 - accuracy: 0.8373
Epoch 77/100
35/35 [==============================] - 0s 821us/step - loss: 0.4828 - accuracy: 0.8163
Epoch 78/100
35/35 [==============================] - 0s 821us/step - loss: 0.4950 - accuracy: 0.8152
Epoch 79/100
35/35 [==============================] - 0s 837us/step - loss: 0.4657 - accuracy: 0.8317
Epoch 80/100
35/35 [==============================] - 0s 841us/step - loss: 0.4687 - accuracy: 0.8254
Epoch 81/100

35/35 [==============================] - 0s 763us/step - loss: 0.4806 - accuracy: 0.8215
Epoch 82/100
35/35 [==============================] - 0s 927us/step - loss: 0.4436 - accuracy: 0.8489
Epoch 83/100
35/35 [==============================] - ETA: 0s - loss: 0.4469 - accuracy: 0.84 - 0s 705us/step - loss: 0.4739 - accuracy: 0.8232
Epoch 84/100
35/35 [==============================] - 0s 821us/step - loss: 0.4604 - accuracy: 0.8317
Epoch 85/100
35/35 [==============================] - 0s 821us/step - loss: 0.4519 - accuracy: 0.8415
Epoch 86/100
35/35 [==============================] - 0s 703us/step - loss: 0.4767 - accuracy: 0.8196
Epoch 87/100
35/35 [==============================] - 0s 645us/step - loss: 0.4662 - accuracy: 0.8258
Epoch 88/100
35/35 [==============================] - 0s 705us/step - loss: 0.4669 - accuracy: 0.8285
Epoch 89/100
35/35 [==============================] - 0s 677us/step - loss: 0.4630 - accuracy: 0.8300
Epoch 90/100
35/35 [==============================] - 0s 705us/step - loss: 0.5048 - accuracy: 0.7981
Epoch 91/100
35/35 [==============================] - 0s 645us/step - loss: 0.4669 - accuracy: 0.8274
Epoch 92/100
35/35 [==============================] - 0s 704us/step - loss: 0.4740 - accuracy: 0.8194
Epoch 93/100
35/35 [==============================] - 0s 586us/step - loss: 0.4493 - accuracy: 0.8375
Epoch 94/100
35/35 [==============================] - 0s 616us/step - loss: 0.4680 - accuracy: 0.8236
Epoch 95/100
35/35 [==============================] - 0s 528us/step - loss: 0.4690 - accuracy: 0.8226
Epoch 96/100
35/35 [==============================] - 0s 704us/step - loss: 0.4386 - accuracy: 0.8436
Epoch 97/100
35/35 [==============================] - 0s 646us/step - loss: 0.4549 - accuracy: 0.8330
Epoch 98/100
35/35 [==============================] - 0s 645us/step - loss: 0.4711 - accuracy: 0.8202
Epoch 99/100
35/35 [==============================] - 0s 733us/step - loss: 0.4686 - accuracy: 0.8230
Epoch 100/100
35/35 [==============================] - 0s 556us/step - loss: 0.4579 - accuracy: 0.8304

In [11]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

12/12 - 0s - loss: 0.4958 - accuracy: 0.8668
Loss: 0.49579715728759766, Accuracy: 0.866847813129425

In [ ]:
# skipped a skill drill