In [1]:
# 19.5.3 Support Vector Machine Vs. Deep Learning Model
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
import pandas as pd
import tensorflow as tf

# Import our input dataset
tele_df = pd.read_csv('./Resources/bank_telemarketing.csv')
tele_df.head()

,Age,Job,Marital_Status,Education,Default_Credit,Housing_Loan,Personal_Loan,Subscribed
0,56,other,married,Primary_Education,no,no,no,no
1,37,services,married,Secondary_Education,no,yes,no,no
2,40,admin,married,Primary_Education,no,no,no,no
3,56,services,married,Secondary_Education,no,no,yes,no
4,59,admin,married,Professional_Education,no,no,no,no

In [2]:
# Generate our categorical variable list
tele_cat = tele_df.dtypes[tele_df.dtypes == "object"].index.tolist()

# Check the number of unique values in each column
tele_df[tele_cat].nunique()

Job               9
Marital_Status    3
Education         4
Default_Credit    2
Housing_Loan      2
Personal_Loan     2
Subscribed        2
dtype: int64

In [3]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(tele_df[tele_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(tele_cat)
encode_df.head()

,Job_admin,Job_blue-collar,Job_entrepreneur,Job_management,Job_other,Job_retired,Job_self-employed,Job_services,Job_technician,Marital_Status_divorced,...,Education_Secondary_Education,Education_Tertiary_Education,Default_Credit_no,Default_Credit_yes,Housing_Loan_no,Housing_Loan_yes,Personal_Loan_no,Personal_Loan_yes,Subscribed_no,Subscribed_yes
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0

In [4]:
# Merge one-hot encoded features and drop the originals
tele_df = tele_df.merge(encode_df,left_index=True, right_index=True)
tele_df = tele_df.drop(tele_cat,1)
tele_df.head()

,Age,Job_admin,Job_blue-collar,Job_entrepreneur,Job_management,Job_other,Job_retired,Job_self-employed,Job_services,Job_technician,...,Education_Secondary_Education,Education_Tertiary_Education,Default_Credit_no,Default_Credit_yes,Housing_Loan_no,Housing_Loan_yes,Personal_Loan_no,Personal_Loan_yes,Subscribed_no,Subscribed_yes
0,56,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,37,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
2,40,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
3,56,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
4,59,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0

In [5]:
# Remove loan status target from features data
y = tele_df.Subscribed_yes.values
X = tele_df.drop(columns=["Subscribed_no","Subscribed_yes"]).values

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [6]:
# Create the SVM model
svm = SVC(kernel='linear')

In [7]:
# Train the model
svm.fit(X_train, y_train)

SVC(kernel='linear')

In [8]:
# Evaluate the model
y_pred = svm.predict(X_test_scaled)
print(f" SVM model accuracy: {accuracy_score(y_test,y_pred):.3f}")

 SVM model accuracy: 0.873

In [9]:
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  10
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [10]:
# Train the model 
fit_model = nn.fit(X_train_scaled, y_train, epochs=50) 
# Evaluate the model using the test data 
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/50
715/715 [==============================] - 1s 622us/step - loss: 0.5300 - accuracy: 0.7394
Epoch 2/50
715/715 [==============================] - 0s 576us/step - loss: 0.3667 - accuracy: 0.8765
Epoch 3/50
715/715 [==============================] - 0s 546us/step - loss: 0.3754 - accuracy: 0.8704
Epoch 4/50
715/715 [==============================] - 0s 699us/step - loss: 0.3663 - accuracy: 0.8743
Epoch 5/50
715/715 [==============================] - 0s 674us/step - loss: 0.3682 - accuracy: 0.8727
Epoch 6/50
715/715 [==============================] - 0s 572us/step - loss: 0.3662 - accuracy: 0.87270s - loss: 0.3662 - accuracy: 0.87
Epoch 7/50
715/715 [==============================] - 1s 762us/step - loss: 0.3632 - accuracy: 0.8731
Epoch 8/50
715/715 [==============================] - 1s 799us/step - loss: 0.3671 - accuracy: 0.8726
Epoch 9/50
715/715 [==============================] - 1s 778us/step - loss: 0.3632 - accuracy: 0.8738
Epoch 10/50
715/715 [==============================] - 1s 858us/step - loss: 0.3595 - accuracy: 0.8759
Epoch 11/50
715/715 [==============================] - 0s 656us/step - loss: 0.3649 - accuracy: 0.8731
Epoch 12/50
715/715 [==============================] - 0s 642us/step - loss: 0.3611 - accuracy: 0.8742
Epoch 13/50
715/715 [==============================] - 0s 553us/step - loss: 0.3639 - accuracy: 0.8734
Epoch 14/50
715/715 [==============================] - 0s 599us/step - loss: 0.3615 - accuracy: 0.8736
Epoch 15/50
715/715 [==============================] - 0s 547us/step - loss: 0.3523 - accuracy: 0.8774
Epoch 16/50
715/715 [==============================] - 0s 576us/step - loss: 0.3499 - accuracy: 0.8802
Epoch 17/50
715/715 [==============================] - 0s 647us/step - loss: 0.3629 - accuracy: 0.8738
Epoch 18/50
715/715 [==============================] - 0s 565us/step - loss: 0.3632 - accuracy: 0.8719
Epoch 19/50
715/715 [==============================] - 1s 742us/step - loss: 0.3677 - accuracy: 0.8711
Epoch 20/50
715/715 [==============================] - 1s 707us/step - loss: 0.3665 - accuracy: 0.8711
Epoch 21/50
715/715 [==============================] - 0s 639us/step - loss: 0.3634 - accuracy: 0.8730
Epoch 22/50
715/715 [==============================] - 1s 705us/step - loss: 0.3560 - accuracy: 0.8766
Epoch 23/50
715/715 [==============================] - 0s 603us/step - loss: 0.3624 - accuracy: 0.8738
Epoch 24/50
715/715 [==============================] - 0s 620us/step - loss: 0.3658 - accuracy: 0.8715
Epoch 25/50
715/715 [==============================] - 1s 762us/step - loss: 0.3609 - accuracy: 0.8734
Epoch 26/50
715/715 [==============================] - 1s 755us/step - loss: 0.3573 - accuracy: 0.8759
Epoch 27/50
715/715 [==============================] - 1s 750us/step - loss: 0.3590 - accuracy: 0.8744
Epoch 28/50
715/715 [==============================] - 1s 752us/step - loss: 0.3616 - accuracy: 0.8727
Epoch 29/50
715/715 [==============================] - 1s 801us/step - loss: 0.3631 - accuracy: 0.8727
Epoch 30/50
715/715 [==============================] - 0s 640us/step - loss: 0.3605 - accuracy: 0.8747
Epoch 31/50
715/715 [==============================] - 0s 581us/step - loss: 0.3617 - accuracy: 0.8731
Epoch 32/50
715/715 [==============================] - 0s 594us/step - loss: 0.3578 - accuracy: 0.8761
Epoch 33/50
715/715 [==============================] - 0s 588us/step - loss: 0.3608 - accuracy: 0.8738
Epoch 34/50
715/715 [==============================] - 0s 612us/step - loss: 0.3619 - accuracy: 0.8727
Epoch 35/50
715/715 [==============================] - 0s 592us/step - loss: 0.3675 - accuracy: 0.8706
Epoch 36/50
715/715 [==============================] - 0s 588us/step - loss: 0.3653 - accuracy: 0.8721
Epoch 37/50
715/715 [==============================] - 0s 560us/step - loss: 0.3614 - accuracy: 0.8742
Epoch 38/50
715/715 [==============================] - 0s 675us/step - loss: 0.3608 - accuracy: 0.8733
Epoch 39/50
715/715 [==============================] - 0s 580us/step - loss: 0.3557 - accuracy: 0.8764
Epoch 40/50
715/715 [==============================] - 0s 596us/step - loss: 0.3602 - accuracy: 0.8758
Epoch 41/50
715/715 [==============================] - 0s 558us/step - loss: 0.3571 - accuracy: 0.8766
Epoch 42/50
715/715 [==============================] - 0s 564us/step - loss: 0.3541 - accuracy: 0.8785
Epoch 43/50
715/715 [==============================] - 0s 573us/step - loss: 0.3617 - accuracy: 0.8728
Epoch 44/50
715/715 [==============================] - 0s 574us/step - loss: 0.3581 - accuracy: 0.8743
Epoch 45/50
715/715 [==============================] - 0s 603us/step - loss: 0.3569 - accuracy: 0.8765
Epoch 46/50
715/715 [==============================] - 0s 580us/step - loss: 0.3644 - accuracy: 0.8719
Epoch 47/50
715/715 [==============================] - 0s 569us/step - loss: 0.3508 - accuracy: 0.8774
Epoch 48/50
715/715 [==============================] - 0s 576us/step - loss: 0.3561 - accuracy: 0.8753
Epoch 49/50
715/715 [==============================] - 0s 627us/step - loss: 0.3597 - accuracy: 0.8734
Epoch 50/50
715/715 [==============================] - 0s 558us/step - loss: 0.3610 - accuracy: 0.8738
239/239 - 0s - loss: 0.3676 - accuracy: 0.8735
Loss: 0.36761337518692017, Accuracy: 0.8734908103942871